*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button-app{
background-color: blueviolet;
padding: 1.5rem;
border: none;
border-radius: 15px;
color: white;
font-weight: bold;
}
.button-segundo{
background-color: rgb(97, 247, 214);
padding: 1.5rem;
border: none;
border-radius: 15px;
color: black;
font-weight: bold;
}

